#detailsPane {
    display: none; // MVP

	.box-sizing(border-box);
	background    : rgba(0, 0, 0, 0.33);
	bottom        : 0;
	padding       : 3 * @grid_size;
	padding-right : 3 * @grid_size - 1;
	position      : fixed;
	right         : 0;
	top           : 0;
	width         : @pane_width;

	.fullWidthLink(){
		background-color : transparent;
		font             : 15px "Knockout 32";
		line-height      : 0.86 * 5 * @grid_size;
		height           : 5 * @grid_size;
		padding          : 0 (3 * @grid_size);
		text-transform   : uppercase;

		&:hover {
			background-color: @hover_background_color;
		}
	}

	.photo {
        display: none; // MVP
		.box-sizing(border-box);
		border  : 1px solid rgba(163, 163, 163, 0.5);
		width   : 100%;
	}

	h2 {
        font-family: 'Source Sans Pro', sans-serif;
		font-size      : 90px;
		line-height    : 80px;
		margin-left    : -3px;
		margin-top     : 17px;
		text-transform : uppercase;
        font-weight: 300;
	}

	h3 {
        font-size: 31px;
        line-height: 30px;
        margin-top: 20px;
        padding-bottom: 10px;
        font-weight: 300;
	}

	dl {
        display: none;
		margin-top: 3px + 2 * @grid_size;

		dt, dd {
			line-height: 30px;
		}

		dt {
			float          : left;
            font-size: 17px;
            padding-right: 30px;
            text-align: right;
            text-transform: uppercase;
            width: 91px;
            font-weight: 600;
		}

		dd {
			border-left    : 1px solid rgba(163, 163, 163, 0.5);
			font-size      : 17px;
			margin-left    : 11 * @grid_size;
			padding-left   : 1.9 * @grid_size;
		}

		a:hover {
			color: @light_line_color;
		}
	}

	.detailsView{
		bottom        : 5 * @grid_size;
		display       : none;
		left          : 0;
		overflow      : auto;
		padding       : 3 * @grid_size;
		padding-right : 3 * @grid_size - 1;
		position      : absolute;
		right         : 0;
		top           : 0;
	}

	.personDetailsView {

	}

	.roomDetailsView {
		.statusBadge {
			background-color : @available_green;
			display          : inline-block;
			height           : 11px;
			margin-right     : 9px;
			width            : 11px;

			&.busy {
				background-color: @unavailable_red;
			}
		}
	}

	.intro {
		h3 {
			white-space: pre;

			a:hover {
				color: @light_line_color;
			}
		}

		.rating {
			background : url('../images/yelp_stars_blue.png') no-repeat -2px 999px;
			cursor     : pointer;
			height     : 15px;
			margin-top : 11px;
			width      : 84px;
		}
	}

	.corrections {
		.fullWidthLink();
		bottom           : 0;
		left             : 0;
		position         : absolute;
		right            : 0;

		&::before {
			content      : '›';
			font-size    : 26px;
			margin-right : @grid_size;
		}
	}

	&.mv, &.mv2 {
		.intro {
			background  : url('../images/building.png') no-repeat 50% 2px;
			padding-top : 192px;
		}
	}

	.accolades {
        display: none; // MVP
		margin-top: @grid_size;

		.closeLink, input[type=text], textarea, .submit {
			display: none;
		}

		h4 {
			.fullWidthLink();
			cursor       : pointer;
			margin-left  : -3 * @grid_size;
			margin-right : -3 * @grid_size + 1px;
			position     : relative;
			line-height: 48px;

			&::before {
				content: "★";
				margin-right: 8px;
			}
		}

		.closeLink {
			cursor     : pointer;
			font-size  : 31px;
			line-height: 28px;
			position   : absolute;
			right      : 3 * @grid_size - 1px;
			text-align : center;
			top        : @grid_size - 1px;
			height     : 3 * @grid_size + 1;
			width      : 3 * @grid_size + 1;

			&:hover {
				background-color: @hover_background_color;
			}
		}

		input[type=text], textarea {
			.box-sizing(border-box);
			background  : fade(@light_line_color, 16%);
			border      : 1px solid @light_line_color;
			color       : white;
			font        : 17px/25px "Architect's Daughter";
			margin-left : @grid_size;
			margin-top  : @grid_size - 1px;
			padding     : 0 (1.5 * @grid_size);
			width       : 29 * @grid_size + 1px;

			.placeholder(){
				color   : @inactive_blue;
				opacity : 1;
			}

			&::-webkit-input-placeholder {
				.placeholder();
			}

			&:-moz-placeholder {
				.placeholder();
			}

			&::-moz-placeholder {
				.placeholder();
			}

			&:-ms-input-placeholder {
				.placeholder();
			}
		}

		.message {
			height      : 12 * @grid_size + 1px;
			padding-top : @grid_size;
			resize      : none;
			overflow-y: hidden;
		}

		.fromName {
			height : 5 * @grid_size + 1px;
		}

		.submit {
			.fullWidthLink();
			margin-left  : -3 * @grid_size;
			margin-right : -3 * @grid_size + 1px;
			margin-top   : @grid_size - 1px;
			padding      : 0 (4 * @grid_size);
			position     : relative;

			&::before {
				content      : '›';
				font-size    : 26px;
				margin-right : @grid_size;
			}
		}

		.charsRemaining {
			color    : @light_line_color;
			font     : 11px "Knockout 31";
			position : absolute;
			right    : 4 * @grid_size - 2px;
			top      : 2 * @grid_size - 1px;

			&.negative {
				color: @unavailable_red;
			}
		}
	}

	.personDetailsView.accoladesMode {
		h2, h3, dl {
			display: none;
		}

		.accolades {
			h4 {
				cursor: default;

				&:hover {
					background-color: transparent;
				}
			}

			.closeLink, input[type=text], textarea, .submit {
				display: block;
			}
		}
	}
}
