.ListPane() {
    background: @listpane_background;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: @pane_width;

    nav {
        @horiz_padding: 2 * @grid_size;
        padding: 10px 17px 5px 20px;
        text-align: center;

        a {
            .box-sizing(border-box);
            @height : 4.5 * @grid_size;
            display: inline-block;
            font-size: 28px;
            height: @height;
            line-height: @height;
            text-align: center;
            font-weight: 300;
            text-transform: uppercase;
            color: #EAEAEA;
            padding: 0 10px;
            width: 50%;

            &:hover {
                color: #fafafa;
                background: rgba(250, 250, 250, 0.1);
            }

            &.active {
                color: #fafafa;
                background: rgba(250, 250, 250, 0.22);

                &:hover {
                    cursor: default;
                }
            }
        }
    }

    .queryContainer {
        left: 2 * @grid_size;
        position: absolute;
        right: 2 * @grid_size - 1px;
        top: 6 * @grid_size;
    }

    .query {
        background: transparent url('../images/magnifier-white.png') no-repeat 13px 1.5*@grid_size;
        height: 5 * @grid_size - 1px;
        line-height: 5 * @grid_size - 1px; // IE ignores text-indent until first change event
        text-indent: 5 * @grid_size - 1px;
        width: 100%;
        border: 1px solid rgba(163, 163, 163, 0.5);
        /* border-bottom-color: rgba(121, 121, 121, 0.5); */
        border-width: 1px;
        font-size: 26px;
        border-radius: 1px;
        color: #f2f2f2;
        font-weight: 300;

        .placeholder() {
            color: rgba(163, 163, 163, 0.5);
            opacity: 1;
        }

        &::-webkit-input-placeholder {
            .placeholder();
        }

        &:-moz-placeholder {
            .placeholder();
        }

        &::-moz-placeholder {
            .placeholder();
        }

        &:-ms-input-placeholder {
            .placeholder();
        }
    }

    .people {
        bottom: 35px;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        position: absolute;
        right: -20px;
        top: 13 * @grid_size;


        .person {
            @img_size    : @grid_size * 5 + 1px;
            cursor: pointer;
            padding-left: 2 * @grid_size;
            width: @pane_width - (2 * @grid_size); //overconstrained, but scrollbars tweak the width otherwise

            &.filtered_name, &.filtered_tag {
                display: none;
            }

            &:hover, &.active {
                background: @hover_background_color;
            }

            /*.name, img {
                display        : inline-block;
                vertical-align : middle;
            }*/

            .name {
                font-size: 25px;
                line-height: @img_size;
                margin: 0 @grid_size 0 0;
                .ellipsis();
            }

            img, .icon {
                height: @img_size;
                line-height: @img_size - 3px; //for the + icon in "Add a person"
                width: @img_size;
                position: absolute;

                display: none;
            }
        }
    }

    .tags {
        border-top: 1px solid #F2F2F2;
        bottom: 1.5 * @grid_size;
        left: 2 * @grid_size;
        padding-top: 0.5 * @grid_size;
        position: absolute;
        right: 2 * @grid_size - 1px;


        a {
            color: white;
            display: inline-block;
            font: 18px "Knockout 52";
            line-height: 4 * @grid_size;
            text-align: center;
            text-transform: uppercase;
            width: 83px;

            &:nth-child(4n) {
                width: 82px;
            }

            &.filtered {
                color: @inactive_blue;
            }

            &:hover {
                background-color: @hover_background_color;
            }
        }
    }

}
