@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600');

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url('../images/body-bg-01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.roomArea {
    transition: fill .4s ease;
    fill: rgba(255, 255, 255, 0.10);
}
.active .roomArea,.active path, .active polygon, .active rect {
    fill: rgba(255, 255, 255, 0.20) !important;
}

a {
    color: white;
    text-decoration: none;
}

.vignette {
    display: none; // hided for now

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /* http://www.colorzilla.com/gradient-editor/#000000+0,000000+100&0+25,0.75+100;Custom */
    @dark_opacity: 0.75;
    @transparent_stop: 25%;
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) @transparent_stop, rgba(0, 0, 0,@dark_opacity) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(@transparent_stop, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0,@dark_opacity))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) @transparent_stop, rgba(0, 0, 0,@dark_opacity) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) @transparent_stop, rgba(0, 0, 0,@dark_opacity) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) @transparent_stop, rgba(0, 0, 0,@dark_opacity) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) @transparent_stop, rgba(0, 0, 0,@dark_opacity) 100%); /* W3C */
}

#listPane {
    @listpane_background: rgba(0, 0, 0, 0.33);
    .ListPane();
}
