<!doctype html>
<html class="admin">
	<head>
		<meta charset="utf-8" />
		<title>Admin – Blue Jeans Floorplan</title>
		<link href="../styles/admin.css" rel="stylesheet" type="text/css" />
		<link href="../favicon.ico" rel="icon" type="image/x-icon" />
	</head>

	<body>
		<div class="vignette"></div>

		<div id="topbar">
			<a href=".." class="goToFloorplan" target="_blank" title="Go to the Floorplan">floor plan</a>
		</div>

		<div id="listPane"></div>

		<form id="editor" style="display: none">
			<div class="basics">
				<div class="photo">
					<img />
					<div>
						<span class="fileChooserLink">
							<a href="#" class="helper_link">select photo</a>
							<input type="file" name="photo" accept="image/*" />
						</span>
					</div>
				</div>
				<div class="fullname_sizer">
					<input name="fullname" type="text"
						placeholder="full name"
						required data-validation-failed-message="The person's full name is required."
						autocomplete="off" />
				</div>
				<div class="title_sizer">
					<input name="title" type="text" placeholder="title" />
				</div>
				<a href="#" class="helper_link remove">remove person</a>
			</div>

            <section>
                <h1>Info</h1>
                <label>
					<span>Id</span>
                    <input name="text" type="desk" placeholder="" autocomplete="off" />
                </label>
            </section>

			<section class="office">
                <h1>Floor</h1>
				<label><input name="office" value="four" type="radio" />4th floor</label>
				<label><input name="office" value="six" type="radio" />6th floor</label>
			</section>

			<div class="formControls">
				<button type="submit">save</button><span class="validationMessage"></span>
			</div>
		</form>

		<div class="seatChooser large" style="display: none">
			<div class="hint">Click on the blue square where this person sits<span class="unassign">, or <a href="#">unassign their current desk</a></span>.</div>
			<a href="#" class="helper_link cancel" title="Cancel desk change">&times;</a>
		</div>

		<script type="text/javascript">
			var config = {{{config}}};
		</script>

		<script src="../scripts/lib/mediator.js"                  type="text/javascript"></script>
		<script src="../scripts/lib/q.min.js"                     type="text/javascript"></script>
		<script src="../scripts/lib/jquery.js"                    type="text/javascript"></script>
		<script src="../scripts/lib/lodash.js"                    type="text/javascript"></script>
		<script src="../scripts/lib/backbone.js"                  type="text/javascript"></script>
		<script src="../scripts/lib/jquery-ui.js"                 type="text/javascript"></script>
		<script src="../scripts/lib/load-image.js"                type="text/javascript"></script>
		<script src="../scripts/lib/jquery.iframe-transport.js"   type="text/javascript"></script>
		<script src="../scripts/lib/jquery.fileupload.js"         type="text/javascript"></script>
		<script src="../scripts/lib/jquery.fileupload-process.js" type="text/javascript"></script>
		<script src="../scripts/lib/jquery.fileupload-image.js"   type="text/javascript"></script>

		<script src="../scripts/data.js"                          type="text/javascript"></script>
		<script src="../scripts/ListPane.js"                      type="text/javascript"></script>
		<script src="../scripts/Map.js"                           type="text/javascript"></script>
		<script src="../scripts/Editor.js"                        type="text/javascript"></script>
		<script src="../scripts/admin.js"                         type="text/javascript"></script>
	</body>
</html>
