<!doctype html>
<html class="floorplan {{officeId}}">
	<head>
		<meta charset="utf-8" />
		<title>Findeer.me - The Ultimate Office Pathfinder</title>
		<meta name="viewport" content="width=1600, user-scalable=no" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1" />
		<link href="styles/all.css" rel="stylesheet" type="text/css" />
		<link href="favicon.ico" rel="icon" type="image/x-icon" />
	</head>

	<body>
		<div class="vignette"></div>
		<div id="listPane"></div>
		<div class="map">
			{{{svg}}}
		</div>
		<div id="detailsPane" class="{{officeId}}"></div>

		<script type="text/javascript">
			var config = {{{config}}};
			var floorplanParams = {
				officeId: '{{officeId}}'
			};
		</script>

		<script src="scripts/lib/mediator.js"       type="text/javascript"></script>
		<script src="scripts/lib/jquery.js"         type="text/javascript"></script>
		<script src="scripts/lib/lodash.js"         type="text/javascript"></script>
		<script src="scripts/lib/backbone.js"       type="text/javascript"></script>
		<script src="scripts/lib/oauth.js"          type="text/javascript"></script>
		<script src="scripts/lib/sha1.js"           type="text/javascript"></script>
		<script src="scripts/lib/store.min.js"      type="text/javascript"></script>

		<script src="scripts/data.js"               type="text/javascript"></script>
		<script src="scripts/yelp.js"               type="text/javascript"></script>
		<script src="scripts/ListPane.js"           type="text/javascript"></script>
		<script src="scripts/Map.js"                type="text/javascript"></script>
		<script src="scripts/IntroView.js"          type="text/javascript"></script>
		<script src="scripts/PersonDetailsView.js"  type="text/javascript"></script>
		<script src="scripts/RoomDetailsView.js"    type="text/javascript"></script>
		<script src="scripts/DetailsPane.js"        type="text/javascript"></script>
		<script src="scripts/main.js"               type="text/javascript"></script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
             (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
             m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
             })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-61469728-1', 'auto');
            ga('send', 'pageview');
        </script>
	</body>
</html>
